################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CursrGame/obj
/.vs/CursrGame
/CursrGame/bin/Debug/net7.0-windows
